{% extends "online_learning/learning_page.html" %}

{% block title %}Online Learning{% endblock %}

{% block scripts %}
<!--define scripts for home here-->
{% endblock %}






{% block bodycalls %}
{% endblock %}






{% block body2 %}
    <hr>

    <h2>{{ article }}
        {% for topic in article.topics %}<a class="button tag-colour{{ (4 * 0 + 3) % 20 + 1 }}" href="/online_learning/topics/{{ topic.id }}">{{ topic }}</a>{% endfor %}
    </h2>
    {{ article.text|safe }}

    <p>
    {% for tag in article.tags %}
        <a class="button tag-colour{{ (4 * loop.index0 + 1) % 20 + 1 }}" href="/online_learning/tags/{{ tag.id }}">{{ tag }}</a>
    {% endfor %}
    </p>

{% endblock %}
