{% extends "online_learning/learning_page.html" %}

{#{% block title %}Online Learning pages{% endblock %}#}
{#{% block subtitle %} - <a href="/online_learning/topics">Topics</a> - <a href="/online_learning/tags">Tags</a>#}
{#{% endblock %}#}
{% block scripts %}
<!--define scripts for home here-->
{% endblock %}






{% block bodycalls %}
{% endblock %}






{% block body2 %}

    {% if pages|count>0 %}

        <ul>
            {% for p in pages %}
                <li>
                {% for topic in p.topics %}
                    <a class="button tag-colour{{ (4 * loop.index0 + 3) % 20 + 1 }}" href="/online_learning/topics/{{ topic.topic }}">{{ topic.topic }}</a>
                {% endfor %}
                - <a href="/online_learning/article/{{p.id}}">{{p.title}}</a>
                    <p>{{p.text|safe}}</p>
                    {% for tag in p.tags %}
                        <a class="button tag-colour{{ (4 * loop.index0 + 1) % 20 + 1 }}" href="/online_learning/tags/{{ tag.tag }}">{{ tag.tag }}</a>
                    {% endfor %}</li>
            {% endfor %}
        </ul>

    {% else %}

        No pages are currently available to you.

    {% endif %}

{% endblock %}
