{% extends 'projects/map/mapadmin.html' %}

{% block content %}

	<div class="item-form">
		<form class="pure-form pure-form-stacked"
			  action="{{action}}"
			  method="post">

		    <fieldset>
		        <legend>Item View</legend>

			    {% for field in form %}

			    	{{field.label()}}
			        {{field(class="pure-input")}}

		        {% endfor %}

		        <div class="row">
                    <div class="column">
                        <button type="submit" class="button success">Submit</button>
                    </div>
                    <div class="column">
{#                        todo: fix this#}
{#                        <a class="button alert" href="{{ path +'delete/'+ action.split('/')[-2]}}">delete</a>#}
                    </div>
                </div>
		    </fieldset>

		</form>
	</div>

{% endblock %}