{% extends "projects/map/mapadmin.html" %}

{% block content %}
        <style type="text/css">
            #myData{visibility:hidden;}
        </style>
        <script language="JavaScript">

            function toggleVisibility(eventsender, idOfObjectToToggle){
                var myNewState = "hidden";
                if (eventsender.checked === false){
                    myNewState = "visible";
                }

                document.getElementById(idOfObjectToToggle).style.visibility = myNewState;
            }
{#            function toggleColumnHeaders(eventsender, idOfObjectToToggle){#}
{#                var myNewState = "hidden";#}
{#                if (eventsender.checked === true){#}
{#                    myNewState = "visible";#}
{#                }#}
{#                col = document.getElementById("tablename").selectedIndex#}
{#                tablename.innerHTML("hello")#}
{##}
{#                print( "hello")#}
{#                document.getElementById(idOfObjectToToggle).style.visibility = myNewState;#}
{##}
{#            }#}
            function toggleColumnHeaders(eventsender){

                for(i=0;i<document.getElementById("tablename").options.length;i++){
                    idd = "_"+document.getElementById("tablename").options[i].text;

                    try {
                        document.getElementById(idd).style.visibility = "hidden";
                    }
                    catch(err) {
{#                        document.getElementById("demo").innerHTML = err.message;#}
                    }
                }


                idOfObjectToToggle = "_"+document.getElementById("tablename").options[document.getElementById("tablename").selectedIndex].text;
                document.getElementById(idOfObjectToToggle).style.visibility = "visible";



                document.getElementById("selectedtablename").innerHTML = "Columns for table: "+document.getElementById("tablename").options[document.getElementById("tablename").selectedIndex].text

            }

        </script>




    <h2>Download data</h2>
    <form action="servedata" method="post" name="data">
        <h4>Select table:</h4>

        <label for="tablename">Table</label>
        <select name="tablename" id="tablename" onchange="toggleColumnHeaders(this)"/>


            {% for t in tablenames %}
                <option value="{{ t }}" id="{{ t }}">
                    {{ t }}
                </option>
            {% endfor %}

                <option value="other" id="other">
                    other
                </option>
        </select>
    <br/>
        <label for="wholetable">Download full table? </label>
        <input type="checkbox" checked="checked"
               value="yes" id="wholetable" name="wholetable"
               onClick = "JavaScript:toggleVisibility(this,'myData');"/>
        <div name="myData" id="myData">
            <h4>Select fields...</h4>


            <p id="selectedtablename"></p>
            <br/>

            {% for c in columnnames %}

                <div id="_{{ tablenames[loop.index0] }}">
                    <br/>

                    {% set i=loop.index0 %}
                    {% for cc in c %}

                    <label for="{{ cc }}"> {{ cc }} </label>
                    <input type="checkbox" checked="checked"
                           value="yes" id="{{ tablenames[i] }}_{{ cc }}"
                           content="{{ cc }}"
                           name="{{tablenames[i] }}_{{ cc }}"/>
                        <br/>

                    {% endfor %}
                </div>
            {% endfor %}

        </div>

        <p><input type="submit" value="Download"></p>
    </form>


{% endblock %}