{% extends "service.html" %}

{% block title %}Data visualisation and editing, uploading etc{% endblock %}

{% block scripts %}
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>

	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4ndLXKNwNeNfopLxqmcI3BDtTFB4pbJE" type="text/javascript"></script>

	<script type="text/javascript">
		var map;
		var marker;
		function initialize() {
			var mapOptions={
				center: new google.maps.LatLng(51.758830,-1.253731),
				zoom: 15
			};
			map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
			google.maps.event.addListener(map, 
				'click', 
				function(event){
					placeMarker(event.latLng);
				}
			);
			placeProjects({{projects | safe}});
		}
		function placeProjects(projects){
			for(i=0;i<projects.length;i++){
				project=new google.maps.Marker({
						position:new google.maps.LatLng(projects[i].latitude,projects[i].longitude),
						map:map,
						title:projects[i].startdate +"\n"+projects[i].enddate+"\n"+projects[i].category+"\n"+projects[i].description
						});
			}
		}
		function placeMarker(location){
			if (marker) {
				marker.setPosition(location);
			} else {
				marker = new google.maps.Marker({
					position: location,
					map: map
					});
			}
			document.getElementById('latitude').value = location.lat();
			document.getElementById('longitude').value = location.lng();
		}



	</script>
{% endblock %}






{% block bodycalls %}
 onload="initialize()"
{% endblock %}






{% block body2 %}

	


<div class="large-12 columns">
	<h4>List of data</h4>
    {% if data|length>0 %}
	{% for project in data %}
		<p>{{project}}</p>
	{% endfor %}
    {% endif %}
</div>


<div class="row">
	<div class="large-12 columns">
		<form action="/uploadxls" method="POST">
			<label for="filename">File Name</label>
			<input type="file" name="filename" size="40">	
			<input type="submit" name="submit" class="button">	
		</form>
	</div>
</div>


<div class="large-12 columns"><h4>Projects map</h4></div>

<div class="row">

	<div class="large-8 medium-8 columns">
		<div class="primary callout">
			<div id="map-canvas" ></div>
		</div>
	</div>


	<div class="large-4 medium-4 columns primary callout">
		<h2>Submit new project</h2>
		<form action="/submitproject" method="POST">
			<label for="category">Category</label>
			<select name="category" id="category">
				<option value="research">Research</option>
				<option value="teaching">Teaching</option>
				<option value="datacollection">Data Collection</option>
			</select>
			<label for="startdate">Start Date</label>
			<input name="startdate" id="startdate" type="date">
			<label for="enddate">End Date</label>
			<input name="enddate" id="enddate" type="date">
			<label for="enddate">Latitude</label>
			<input name="latitude" id="latitude" type="text">
			<label for="enddate">Longitude</label>
			<input name="longitude" id="longitude" type="text">
			<label for="description">Description</label>
			<textarea name="description" id="description" placeholder="A brief but detailed description of the project"></textarea>
			<input type="submit" name="submit" class="button">		
		</form>
		<a href="/clear">Clear</a>
	</div>

</div>



{% endblock %}
