{% extends "projects/map/mapadmin.html" %}

{% block content %}
        <style type="text/css">
            #myData{visibility:hidden;}
        </style>
        <script language="JavaScript">

            function toggleVisibility(eventsender, idOfObjectToToggle){
                var myNewState = "hidden";
                if (eventsender.checked === false){
                    myNewState = "visible";
                }

                document.getElementById(idOfObjectToToggle).style.visibility = myNewState;
            }
            function toggleColumnHeaders(eventsender, idOfObjectToToggle){
                var myNewState = "hidden";
                if (eventsender.checked === true){
                    myNewState = "visible";
                }

                document.getElementById(idOfObjectToToggle).style.visibility = myNewState;

            }

        </script>




    <h3>Upload data</h3>

    <h4>
        <span style="color: crimson">{{ error|safe }}</span>
        <span style="color: #22bb5b">{{ message|safe }}</span>
    </h4>

    <form action="genblankcsv" method="post" name="data">

			<label for="tablename">Select table</label>
			<select name="tablename" id="tablename"/>
                {% for t in tablenames %}
				    <option value="{{ t }}" id="{{ t }}"
                        onClick="JavaScript:toggleColumnHeaders(this,'project');">
                        {{ t }}</option>
                {% endfor %}
			</select>

        <p><input type="submit" class="button" value="Download Template"></p>


    </form>

{#    <form method=post enctype=multipart/form-data method="post">#}
{#      <p><input type=file name=file>#}
{#         <input type=submit value=uploadcsv>#}
{#    </form>#}
        <hr>

		<form action="uploadcsv" method="post" enctype=multipart/form-data>

			<label for="tablename">Select table</label>
			<select name="tablename" id="tablename"/>
                {% for t in tablenames %}
				    <option value="{{ t }}" id="{{ t }}"
                        onClick="JavaScript:toggleColumnHeaders(this,'project');">
                        {{ t }}</option>
                {% endfor %}
			</select>
			<label for="filename">File Name</label>
			<input type="file" name="file" size="40">
			<input type="submit" name="submit" class="button">
		</form>


{#    <html>#}
{#    <head>#}
{#    </head>#}
{#    <body>#}
{#        </body>#}
{#</html>#}


{#    	<div class="large-4 medium-4 columns primary callout">#}
{#		<h2>Submit new project</h2>#}
{#		<form action="/submitproject" method="POST">#}
{#			<label for="category">Category</label>#}
{#			<select name="category" id="category">#}
{#				<option value="research">Research</option>#}
{#				<option value="teaching">Teaching</option>#}
{#				<option value="datacollection">Data Collection</option>#}
{#			</select>#}
{#			<label for="startdate">Start Date</label>#}
{#			<input name="startdate" id="startdate" type="date">#}
{#			<label for="enddate">End Date</label>#}
{#			<input name="enddate" id="enddate" type="date">#}
{#			<label for="enddate">Latitude</label>#}
{#			<input name="latitude" id="latitude" type="text">#}
{#			<label for="enddate">Longitude</label>#}
{#			<input name="longitude" id="longitude" type="text">#}
{#			<label for="description">Description</label>#}
{#			<textarea name="description" id="description" placeholder="A brief but detailed description of the project"></textarea>#}
{#			<input type="submit" name="submit" class="button">#}
{#		</form>#}
{#	</div>#}
{% endblock %}