{% extends 'admin/master.html' %}
{% block body %}
{#{{ super() }}#}
    <div class="row">
    <div class="column">
        <h2>Database Info.: {{ admin_view.admin.db_details.database_name }}</h2>

        <h4>Database type:</h4>
        {{ admin_view.admin.db_details.database_engine }}

        <h4>Database owner:</h4>
        This database is owned by the group <i>{{ admin_view.admin.db_details.project_owner }}</i> and maintained by <i>{{ admin_view.admin.db_details.project_maintainer }}</i>.

        <h4>Database connection string:</h4>
{#        {{ d.GetConnectionString() }} #}
                {{ admin_view.admin.db_details.database_engine.connection_string }}://{{ admin_view.admin.db_details.username }}:********@{{ admin_view.admin.db_details.ip_address }}:{{ admin_view.admin.db_details.port }}






        <h4>Database capacity:</h4>
        You are using <i>{{ admin_view.admin.db_details.GetUseage() }} MB / {{ admin_view.admin.db_details.GetDatabaseQuota() }}</i>

        <h4>Description</h4>
        <i>{{ admin_view.admin.db_details.description }}</i>

    </div></div>
{% endblock body %}
