{% extends "online_learning/learning_page.html" %}

{% block title %}Online Learning pages{% endblock %}

{% block scripts %}
<!--define scripts for home here-->
{% endblock %}






{% block bodycalls %}
{% endblock %}






{% block body2 %}

    <h2>{{ article[0] }} <a class="button tag-colour{{ (4 * loop.index0 + 3) % 20 + 1 }}" href="/online_learning/topics/{{ topic }}">{{ topic }}</a></h2>
    {{ article[1] }}

    <p>
    {% for tag in tags %}
        <a class="button tag-colour{{ (4 * loop.index0 + 1) % 20 + 1 }}" href="/online_learning/tags/{{ tag }}">{{ tag }}</a>
    {% endfor %}
    </p>

{% endblock %}
