{% extends "online_learning/learning_page.html" %}

{% block title %}Online Learning pages{% endblock %}

{% block scripts %}
<!--define scripts for home here-->
{% endblock %}






{% block bodycalls %}
{% endblock %}






{% block body2 %}


    {% if instances|length>0 %}

        <ul>
            {% for instance in instances %}
                <li><a class="button tag-colour{{ (4 * loop.index0 + 3) % 20 + 1 }}" href="/online_learning/topics/{{ topics[loop.index0] }}">{{ topics[loop.index0] }}</a> - <a href="/online_learning/article/{{instance[2]}}">{{instance[0]}}</a>
                    <p>{{instance[1]}}</p>
                    {% for tag in tags[loop.index0] %}
                        <a class="button tag-colour{{ (4 * loop.index0 + 1) % 20 + 1 }}" href="/online_learning/tags/{{ tag }}">{{ tag }}</a>
                    {% endfor %}</li>
            {% endfor %}
        </ul>

    {% else %}

        No pages are currently available to you.

    {% endif %}

{% endblock %}
