{% extends "service.html" %}

{% block title %}My Databases{% endblock %}

{% block scripts %}
<!--define scripts for home here-->
{% endblock %}






{% block bodycalls %}
{% endblock %}






{% block body2 %}


    {% if instances|length>0 %}

        <ul>
            {% for instance in instances %}
                <li><a href="/projects/{{instance[0]}}">{{instance[1]}}</a></li>
            {% endfor %}
        </ul>

    {% else %}

        No databases are currently available to you.

        <br/>
        <a href="{{ url_for('home.show', page='projects/map') }}">Example map application</a>

    {% endif %}

{% endblock %}
