{% extends "console.html" %}
{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}


{% block servicename %}
    My Account
{% endblock %}

	
{% block consolecontent %}
{#    {% if instances|length>0 %}#}

    <h3>My Groups</h3>
        <ul>
                {% for g in groups %}

                    <h4>Group '{{ g }}' </h4>
                    {% for instance in instances[loop.index0] %}
                        <li><a href="{{ dbas_url }}/{% if instance[2]=='nc' %}nextcloud{% else %}projects{% endif %}/{{instance[0]}}">{{instance[1]}}</a> ({{ instance[2] }})</li>
                    {% endfor %}
                {% endfor %}
        </ul>


{#    {% else %}#}
{##}
{#        You are not authorised to view any projects for this group, or none exist.#}
{##}
{#    {% endif %}#}
    <h3>Change Password</h3>
{#    <form>#}
{#    <label for="current_password">Current Password: </label><input type="password"/>#}
{#    <label for="new_password">Current Password: </label><input type="password"/>#}
{#    <label for="repeat_password">Current Password: </label><input type="password"/>#}
{#    </form>#}

    <div class="large-4 medium-4 columns callout primary pull-left" >
{#large-push-1 medium-push-1#}
        <form action="{{ url_for('account') }}"  method="POST" >
{#            <div class="form-group">#}
{#                {{ form.user.label }} {{ form.user }}<br>#}
{#            </div>#}
            <div class="form-group">
                {{ form.oldpw.label }} {{ form.oldpw }}
            </div>
            <div class="form-group">
                {{ form.password.label }}{{ form.password }}
            </div>
            <div class="form-group">
                {{ form.password2.label }} {{ form.password2 }}
            </div>
            {{ form.csrf_token }}
            {{ form.submit }}
    {#        <button type="submit" class="btn btn-default">Go</button>#}
        </form>
<br/>
              {% block messages %}
              {{ layout.messages() }}
              {% endblock %}

    </div>
    </div>
<div>
{% endblock %}





