{% extends "console.html" %}
{% import 'admin/layout.html' as layout with context -%}


{% block servicename %}
    My Account
{% endblock %}

	
{% block consolecontent %}

    <h3>Change Password</h3>

    <div class="large-4 medium-4 columns callout primary pull-left" >
{#large-push-1 medium-push-1#}
        <form action="{{ url_for('account') }}"  method="POST" >
{#            <div class="form-group">#}
{#                {{ form.user.label }} {{ form.user }}<br>#}
{#            </div>#}
            <div class="form-group">
                {{ form.oldpw.label }} {{ form.oldpw }}
            </div>
            <div class="form-group">
                {{ form.password.label }}{{ form.password }}
            </div>
            <div class="form-group">
                {{ form.password2.label }} {{ form.password2 }}
            </div>
            {{ form.csrf_token }}
            {{ form.submit }}
    {#        <button type="submit" class="btn btn-default">Go</button>#}
        </form>
<br/>
              {% block messages %}
              {{ layout.messages() }}
              {% endblock %}

    </div>
{% endblock %}





