{% extends "service.html" %}

{% block title %}My Services{% endblock %}

{% block scripts %}
<!--define scripts for home here-->
{% endblock %}






{% block bodycalls %}
{% endblock %}






{% block body2 %}


    {% if instances|length>0 %}

        <ul>
            {% for instance in instances %}

                <li><a href="/
                    {% if instance[2]=='dbas' %}nextcloud
                    {% else %}projects
                    {% endif %}
                    /{{instance[0]}}">{{instance[1]}}</a> ({{ instance[2] }})</li>
            {% endfor %}
        </ul>

    {% else %}

        No databases are currently available to you.

        <br/>
        <a href="{{ url_for('show', page='projects/map') }}">Example map application</a>

    {% endif %}

{% endblock %}
