{% extends 'console.html' %}

{% block servicename %}
{{ project.instance_identifier }}
{% endblock %}

{% block consolecontent %}

        <h2>Databases</h2>
        {% if project.databases|length ==0 %}There are no databases associated with this project.{% endif %}
        {% for d in project.databases %}
            <ul>
                <li>
                    <a href="/projects/{{ project.instance_identifier }}/databases/{{ d.database_name}}">
                        {{ d.database_name }}
                    </a>
                </li>
            </ul>

        {% endfor %}

        <h2>Web Applications</h2>
        {% if project.webapps|length ==0 %}There are no web applications associated with this project.{% endif %}
        {% for w in project.webapps %}
            <ul>
                <li>
                    <a href="{{ w.homepage }}">{{ w.name }}</a>
                </li>
            </ul>
        {% endfor %}

        <h2>Nextcloud</h2>
        {% if project.nextclouds|length ==0 %}There are no Nextcloud instances associated with this project.{% endif %}
        {% for n in project.nextclouds %}
            <a href="https://nextcloud-{{ n.link }}.ouce.ox.ac.uk">{{ n.link }}</a>
        {% endfor %}
{% endblock %}
